[#ftl]
<script type="text/javascript" src="webjars/angular/1.6.0/angular.min.js"></script>
<script type="text/javascript" src="webjars/angular-sanitize/1.6.0/angular-sanitize.min.js"></script>
<script type="text/javascript" src="webjars/angular-resource/1.6.0/angular-resource.min.js"></script>
<script type="text/javascript" src="webjars/angular-aria/1.6.0/angular-aria.min.js"></script>
<script type="text/javascript" src="webjars/angular-material/1.1.1/angular-material.min.js"></script>
<script type="text/javascript" src="webjars/angular-animate/1.6.0/angular-animate.min.js"></script>
<script type="text/javascript" src="webjars/angular-i18n/1.6.0/angular-locale_${locale_!'pt-br'}.js"></script>
<script type="text/javascript" src="webjars/angular-loading-bar/0.9.0/build/loading-bar.min.js"></script>
<script type="text/javascript" src="webjars/wowjs/1.1.2/dist/wow.min.js"></script>
<script type="text/javascript" src="webjars/tether/1.3.7/dist/js/tether.min.js"></script>
<script type="text/javascript" src="webjars/smooth-scroller/0.1.2/dist/smooth-scroller.min.js"></script>

<!-- service module-->
<script type="text/javascript" src="js/ng-services.js"></script>

<!-- modules-->
<script type="text/javascript" src="ng-${baseName!'static'}-module.js"></script>
<script type="text/javascript" src="ng-${baseName!'static'}-directive.js"></script>

