[#ftl]
<meta content="text/html; iso-8859-1" http-equiv="content-type">
<meta http-equiv="content-language" content="${.locale!'pt-BR'}" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel='stylesheet' href='webjars/angular-material/1.1.1/angular-material.min.css'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel='stylesheet' href="css/helianto.css">

<style >
{{entity.customStyle}}
</style>

<script type="text/javascript" src="webjars/jquery/2.2.4/dist/jquery.min.js"></script>

<title>${title!"Selection"}</title>

<link type="image/x-icon" href="images/favicon.ico" rel="shortcut icon">
<link type="image/x-icon" href="images/favicon.ico" rel="icon">


