[#ftl]
<!-- AngularJs package -->
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-sanitize.min.js"></script>
<script type="text/javascript" src="js/angular-resource.min.js"></script>
<script type="text/javascript" src="js/angular-animate.min.js"></script>
<script type="text/javascript" src="js/tether.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>
<script type="text/javascript" src="js/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="js/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="js/smooth-scroll.min.js"></script>
<script type="text/javascript" src="js/angular-count-to.min.js"></script>

<!-- service module-->
<script type="text/javascript" src="js/ng-services.js"></script>

<!-- modules-->
<script type="text/javascript" src="ng-${baseName!'static'}-module.js"></script>
<script type="text/javascript" src="ng-${baseName!'static'}-directive.js"></script>

